.footer{
	background-color: blue;
	color: white;
	padding-top: 30px;
	padding-bottom: 50px;
	padding-right: 10px;
	padding-left: 20px;
}
.work13{
	background-color: red;
	color: white;
	padding-top: 30px;
	padding-bottom: 50px;
	padding-right: 10px;
	padding-left: 20px;

}
.btn1{
	border-radius: 12px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 20px;
	padding-left: 20px;
	color: red;
	
}
.underline1{
	 border-bottom: 1px solid red;
}
.para1{
	color: grey;
	font-size:22px;
}


.underline2{
	color: red;
}
.para2{
	color: grey;
	font-size:22px;
}


.underline3{
	color: red;
}
.para3{
	color: grey;
	font-size:22px;
}




.underline4{
	color: red;
}
.para4{
	color: grey;
	font-size:22px;
}



.underline5{
	color: red;
}
.para5{
	color: grey;
	font-size:22px;
}



.underline6{
	color: red;
}
.para6{
	color: grey;
	font-size:22px;
}

.uderline7{
	color: red;
}
.para8{
	color: grey;
	font-size:22px;
}




.work9{
	background-color: #f0f0f8;
	padding-bottom: 40px;
	padding-top: 40px;
	padding-left: 10px;
}




.para7{
	color: grey;
	font-size:22px;
}
.underline7{
	color: red;
}

.para8{
	color: grey;
	font-size:22px;
}
.underline8{
	color: red;
	font-size:22px;
}
.heading1{
	color: grey;

}
.work8{
	
	padding-bottom: 40px;
	padding-top: 40px;
	padding-right: 20px;
	padding-left: 20px;
}
.block{  
	background-color: #f0f0f8;
	padding-bottom: 60px;
	padding-top: 40px;
	padding-right: 20px;
	padding-left: 20px;
}
.para9{
	color: grey;
	
}

.heading2{
	color: grey;

}
.underline9{
	color: red;
	
}

.images1{
	padding-bottom: 20px;
	padding-top: 20px;
	padding-right: 20px;
	padding-left: 20px;
	
	
}
.images2{
	padding-bottom: 20px;
	padding-top: 20px;
	padding-right: 20px;
	padding-left: 20px;
}
.images3{
	padding-bottom: 20px;
	padding-top: 20px;
	padding-right: 20px;
	padding-left: 20px;
}
.underline10{
	color: red;
	
}
.para10{
	color: grey;
	font-size:22px; 

}
	.para11{
	color: grey;
	font-size:20px; 

}
.heading3{
	color: grey;

}
.underline11{
	color: red;
	}

	.underline12{
	color: red;
	}
	.para12{
	color: grey;
	font-size:18px; 

}

	.underline13{
	color: red;
	padding-left: 20px;
	}
	.para13{
	color: grey;
	font-size:18px;
	padding-left: 20px; 

}
.images4{
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 20px;
}
.images5{
	padding-left: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 30px;
}
.btn1{
	border-radius: 15px;
	color: white;
	background-color: red;
	padding-left: 30px;
	padding-right: 30px;

}
.para14{
	color: grey;
	font-size:22px;
	padding-right: 10px;
	padding-left: 20px;


}.start_btn{
	border-radius: 15px;
	background-color: red;
	color: white;


	
}
.heading5{
	padding-top: 80px;
	padding-left: 20px;
}
.para15{
	color:red;
	font-size: 22px;
}
.index{
	padding-top: 20px;
	font-size: 18px;
} .heading6{
	padding-left: 20px;
}
.paragraph{
	padding-left: 20px;
}
.work12{
	padding-left: 20px;
}
.work121{
	padding-left: 20px;
}
.heading8{
	padding-left: 20px;
}